<link rel="stylesheet" href="/stylesheets/index.css">
<div class="main-content-container unloaded" ng-app="TopDashContainer" ng-controller="MainCtrl as ctrl"> 
  <div class="top-nav-bar-container">
    <div class="nav-bar-content">
      <div class="logo-container">
        <div class="img-container">
          <img
            src="./static/Navigation-Primary-finance-logo.svg"
            alt="Finance"
          />
        </div>
      </div>
      <div class="tab-chooser-container">
        <div class="tab-containers">
          <div class="home-tab-container">
            <div class="tab-chooser-content" ng-class="{active: pageInfo[0].active}" ng-click="changeTab(0)">
              <p id="tab-chooser-label" ng-bind="pageInfo[0].label"></p>
            </div>
          </div>
          <div class="transactions-tab-container">
            <div class="tab-chooser-content" ng-class="{active: pageInfo[1].active}" ng-click="changeTab(1)">
              <p id="tab-chooser-label" ng-bind="pageInfo[1].label"></p>
            </div>
          </div>
          <div class="analytics-tab-container">
            <div class="tab-chooser-content" ng-class="{active: pageInfo[2].active}" ng-click="changeTab(2)">
              <p id="tab-chooser-label" ng-bind="pageInfo[2].label"></p>
            </div>
          </div>
          <div class="inbox-tab-container">
            <div class="tab-chooser-content" ng-class="{active: pageInfo[3].active}" ng-click="changeTab(3)">
              <p id="tab-chooser-label" ng-bind="pageInfo[3].label"></p>
            </div>
          </div>
        </div>
      </div>
      <div class="user-profile-container">
        <div class="user-profile-content">
          <div class="img-container">
            <img
              src="/static/Navigation-Primary-profile.png"
              alt="Username"
            />
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="main-body-container" ng-show="pageInfo[0].active">
    <div class="main-dash-container">
      <div class="dash-page-location-container">
        <div class="dash-location-content">
          <p>Home</p>
          <img
            src="/static/Navigation-Breadcrumbs-chevron_right.svg"
            alt=""
          />
          <p>Dashboard</p>
        </div>
      </div>
      <div class="dash-top-container" >
        <div class="dash-top-content">
          <div class="left-combined-info-container">
            <div class="d-top-container">
              <div class="d-top-content">
                <p id="balance-label">Balance</p>
                <p id="balance-amount" ng-bind="balance | currency : '' : 0"></p>
              </div>
            </div>
            <div class="d-top-container">
              <div class="d-top-content">
                <p id="income-label">Income</p>
                <p id="income-amount" ng-bind="income | currency : '' : 0"></p>
              </div>
            </div>
            <div class="d-top-container">
              <div class="d-top-content">
                <p id="spent-label">Spent</p>
                <p id="spent-amount" ng-bind="spent | currency : '' : 0"></p>
              </div>
            </div>
          </div>
          <!--
          <div class="right-usage-indicator">
            <div class="usage-content">
              <div class="usage-label">
                <p id="usage-label">
                  Usage
                </p>
              </div>
              
              <div class="usage-values">
                <p id="usage-amount">321</p>
                <div class="usage-change-indicator">
                  <div class="img-container">
                    <img
                      src="/static/Cards-Stats-Pills-arrow-up.svg"
                      alt="Up"
                    />
                  </div>
                  <p id="usage-change-perc">10%</p>
              </div>
              
              
            </div>
          </div>
          -->
        </div>
      </div>
      <div class="dash-middle-container">
        <div class="recent-t-table">
          <div class="t-table-content">
            <div class="table-header">
              <p id="header-type" class="t-type-column">Type</p>
              <p id="header-subject" class="subject-column">Subject</p>
              <p id="header-date" class="date-column">Date</p>
              <p id="header-amount" class="amount-column">Amount</p>
            </div>

            <div class="table-body" ng-repeat="transaction in transactions">
              <!--
                A table row consists of transaction type
              -->
              <div class="table-row" ng-click="switchInfo(transaction.index)">

                <div class="t-type-column">
                  <div class="t-type-col-content">
                    <div class="img-container">
                      <p id="transaction-symbol" ng-bind="transaction.type"></p>
                    </div>
                  </div>
                </div>
                <div class="subject-column">
                  <div class="subject-col-content">
                    <p id="item-subject-name" ng-bind="transaction.subject.name"></p>
                    <p id="item-subject-phonenumber" ng-bind="transaction.subject.subjectID"></p>
                  </div>
                </div>
                <div class="date-column">
                  <div class="date-col-content">
                    <p id="item-date" ng-bind="transaction.date.time"></p>
                  </div>
                </div>
                <div class="amount-column">
                  <div class="amount-col-amount">
                    <div class="col-amount-content plus" ng-show="transaction.amount.gain">
                      <p id="item-amount" ng-bind="transaction.amount.amount"></p>
                    </div>  
                    <div class="col-amount-content minus" ng-hide="transaction.amount.gain">
                      <p id="item-amount" ng-bind="transaction.amount.amount"></p>
                    </div>  
                  </div>
                </div>
            </div>
            </div>
          </div>
        </div>
        <div class="t-info-container">
          <div class="info-container-header">
            <div class="info-subject-name-content">
              <p id="info-subject-name" ng-bind="tInfoContent.subject"></p>
            </div>
            <div class="info-t-type-content">
              <p id="info-t-type" ng-bind="tInfoContent.type"></p>
            </div>
          </div>
          <div class="info-content" ng-repeat="content in tInfoContent.items">
            <div class="content">
              <p id="i_c_title" ng-bind="content.label"></p>
              <p id="i_c_value" ng-bind="content.value"></p>
            </div>
          </div>
        </div>
      </div>
      <div class="bottom-analytics-container" id="bottom-analytics-container">
        <div class="chart-container">
        <div class="chart-header">
          <p id="chart-header">Monthly Income</p>
          <div class="time-frame-container">
            <p id="time-frame">AUG 2020 - FEB 2021</p>
          </div>
        </div>
        <div class="chart-bar-container">
          <canvas id="playground"></canvas>
        </div>
      </div>
      </div>
    </div>
  </div>
  
</div>


<script src="/javascripts/index.js"></script>
<script src="https://cdn.jsdelivr.net/npm/chart.js@3.5.1/dist/chart.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
<script src="/javascripts/index.angular.js"></script>
<script>

</script>
<script>
  window.onload = () => {
    document.querySelector('.main-content-container.unloaded')
    document.querySelector('.main-content-container.unloaded').classList.remove('unloaded')
  }
</script>

<script src="/javascripts/index.charts.js"></script>
