<div class="main-content-container">
      <div class="top-nav-bar-container">
        <div class="nav-bar-content">
          <div class="logo-container">
            <div class="img-container">
              <img
                src="./static/Navigation-Primary-finance-logo.svg"
                alt="Finance"
              />
            </div>
          </div>
          <div class="tab-chooser-container">
            <div class="tab-containers">
              <div class="home-tab-container">
                <div class="tab-chooser-content active-tab">
                  <p id="tab-chooser-label">Home</p>
                </div>
              </div>
              <div class="transactions-tab-container">
                <div class="tab-chooser-content">
                  <p id="tab-chooser-label">Transactions</p>
                </div>
              </div>
              <div class="analytics-tab-container">
                <div class="tab-chooser-content">
                  <p id="tab-chooser-label">Analytics</p>
                </div>
              </div>
              <div class="inbox-tab-container">
                <div class="tab-chooser-content">
                  <p id="tab-chooser-label">Inbox</p>
                </div>
              </div>
            </div>
          </div>
          <div class="user-profile-container">
            <div class="user-profile-content">
              <div class="img-container">
                <img
                  src="/static/Navigation-Primary-profile.png"
                  alt="Username"
                />
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="main-body-container">
        <div class="search-bar-container">
          <div class="search-bar">
            <input
              type="text"
              name="search"
              id="search-bar"
              placeholder="Search"
              autocomplete="off"
            />
            <div class="img-container">
              <img src="/static/Input Field-Default-search.svg" alt="" />
            </div>
          </div>
        </div>
        <div class="main-dash-container">
          <div class="dash-page-location-container">
            <div class="dash-location-content">
              <p>Home</p>
              <img
                src="/static/Navigation-Breadcrumbs-chevron_right.svg"
                alt=""
              />
              <p>Dashboard</p>
            </div>
          </div>
          <div class="dash-top-container">
            <div class="dash-top-content">
              <div class="left-combined-info-container">
                <div class="d-top-container">
                  <div class="d-top-content">
                    <p id="balance-label">Balance</p>
                    <p id="balance-amount">63,676</p>
                  </div>
                </div>
                <div class="d-top-container">
                  <div class="d-top-content">
                    <p id="income-label">Income</p>
                    <p id="income-amount">67,344</p>
                  </div>
                </div>
                <div class="d-top-container">
                  <div class="d-top-content">
                    <p id="spent-label">Spent</p>
                    <p id="spent-amount">3,728</p>
                  </div>
                </div>
              </div>
              <div class="right-usage-indicator">
                <div class="usage-content">
                  <div class="usage-label">
                    <p id="usage-label">
                      Usage
                    </p>
                  </div>
                  <div class="usage-values">
                    <p id="usage-amount">321</p>
                    <div class="usage-change-indicator">
                      <div class="img-container">
                        <img
                          src="/static/Cards-Stats-Pills-arrow-up.svg"
                          alt="Up"
                        />
                      </div>
                      <p id="usage-change-perc">10%</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="dash-middle-container">
            <div class="recent-t-table">
              <div class="t-table-content">
                <div class="table-header">
                  <p id="header-subject" class="subject-column">Subject</p>
                  <p id="header-date" class="date-column">Date</p>
                  <p id="header-amount" class="amount-column">Amount</p>
                </div>
                <div class="table-row">
                  <div class="subject-column">
                    <div class="subject-col-content">
                      <p id="item-subject-name">Amy Matthews</p>
                      <p id="item-subject-phonenumber">0700158899</p>
                    </div>
                  </div>
                  <div class="date-column">
                    <div class="date-col-content">
                      <p id="item-date">Today</p>
                    </div>
                  </div>
                  <div class="amount-column">
                    <div class="amount-col-amount">
                      <div class="col-amount-content plus">
                      <p id="item-amount">3,454</p>
                      </div>  
                    </div>
                  </div>
                </div>
                <div class="table-row">
                  <div class="subject-column">
                    <div class="subject-col-content">
                      <p id="item-subject-name">Amy Matthews</p>
                      <p id="item-subject-phonenumber">0700158899</p>
                    </div>
                  </div>
                  <div class="date-column">
                    <div class="date-col-content">
                      <p id="item-date">Today</p>
                    </div>
                  </div>
                  <div class="amount-column">
                    <div class="amount-col-amount">
                      <div class="col-amount-content plus">
                      <p id="item-amount">3,454</p>
                      </div>  
                    </div>
                  </div>
                </div>
                <div class="table-row">
                  <div class="subject-column">
                    <div class="subject-col-content">
                      <p id="item-subject-name">Amy Matthews</p>
                      <p id="item-subject-phonenumber">0700158899</p>
                    </div>
                  </div>
                  <div class="date-column">
                    <div class="date-col-content">
                      <p id="item-date">Today</p>
                    </div>
                  </div>
                  <div class="amount-column">
                    <div class="amount-col-amount">
                      <div class="col-amount-content plus">
                      <p id="item-amount">3,454</p>
                      </div>  
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="t-info-container">
              <div class="info-container-header">
                <div class="info-subject-name-content">
                  <p id="info-subject-name">
                    Amy Matthews
                  </p>
                </div>
                <div class="info-t-type-content">
                  <p id="info-t-type">RECIEVE</p>
                </div>
              </div>
              <div class="info-content">
                <div class="info-amount-container">
                  <p id="info-amount-title">Amount</p>
                  <p id="info-amount-value">3,454</p>
                </div>
                <div class="info-balance-container">
                  <p id="info-balance-title">Balance</p>
                  <p id="info-amount-value">33,454</p>
                </div>
                <div class="info-date-container">
                  <p id="info-date-title">Date</p>
                  <p id="info-date-value">Sep 15, 2021</p>
                </div>
                <div class="info-time-container">
                  <p id="info-time-title">Time</p>
                  <p id="info-time-value">12:30 pm</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <script src="/javascripts/index.js"></script>
    <script src="/javascripts/nav.js"></script>