<div class="search-bar-container">
  <div class="search-bar">
    <input
      type="text"
      name="search"
      id="search-bar"
      placeholder="Search"
      autocomplete="off"
    />
    <div class="img-container">
      <img src="/static/Input Field-Default-search.svg" alt="" />
    </div>
  </div>
</div>